@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

li {
    display: inline-block;
    list-style: none;
    margin: 15px;
}

a {
    border-radius: 50%;
    background-color: lightgrey;
    padding: 7px;
    color: rgb(6, 174, 231);
}

a:not(:hover) {
    color: black;
}