body {
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;

    width: 1fr;

    padding: 10%;
}

.container {
    display: flex;
}

img {
    border-radius: 5px;
    margin: 5px;
}


img:not(:nth-of-type(2)) {
    width: 10%;
}