@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');


body {
    font-family: 'Courgette', cursive;
    background-color: #f5f5f5;

    padding: 0px 0px;

    display: flex;

    flex-direction: column;
}

.header {
    display: block;
    margin: auto;
}

.title {
    font-size: 4rem;
    font-weight: 200;
}

.title__info {
    color: #cb2027;

    font-size: 2rem;

    font-weight: 700;

    margin-top: -45px;
    margin-right: -20px;

    float: right;
}


.items {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    gap: 30px;
}


.item {
    width: 25vw;

    list-style: none;

    height: 470px;

    background-color: #ffffff;

    text-align: center;

    border-radius: 20px;

    overflow: hidden;
}

.item__img {
    width: 100%;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.item__link {
    text-decoration: none;
    color: black;
}

.fa-solid {
    color: #cb2027;
}

.item__title {
    font-size: 1.7rem;
    margin-top: 10px;
    margin-bottom: -5pxpx;
}

.item__text {
    font-size: 1.1rem;

    border-top: 1px solid #cb2027;

    margin: 0px auto;

    padding: 20px;
}

.arrow.first {
    margin-top: 20px;
}